


<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<div class="bgsolid dark"></div>
		<div class="bgsolid light"></div>

		<img class="bg retina" src="../_common/images/<%= size %>/bg.jpg" />
		<!-- <img class="frame1 retina" src="../_common/images/<%= size %>/frame1.png" /> -->
		
		
		
		
		
		
		
		<img class="cloud left b" src="../_common/images/<%= size %>/cloud-left-b.png" />
		<img class="cloud right c" src="../_common/images/<%= size %>/cloud-right-c.png" />		
		<img class="cloud right b" src="../_common/images/<%= size %>/cloud-right-b.png" />
		<img class="lantern retina" src="../_common/images/<%= size %>/lantern.png" />
		<img class="cloud left a" src="../_common/images/<%= size %>/cloud-left-a.png" />
		<img class="cta retina" src="../_common/images/<%= size %>/cta.png" />
		<img class="cloud right a" src="../_common/images/<%= size %>/cloud-right-a.png" />
		<img class="logo retina" src="../_common/images/<%= size %>/logo.png" />
		<img class="legal retina" src="../_common/images/<%= size %>/legal.png" />
		
	</div>	
	
	
	<% include ./_end %>
</div>

